.wrapper {
  margin: 0;
  padding: 0;
}

/*
*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

@media only screen and (min-width: 801px) {
  .big {
    background-color: lightblue;
    float: left;
    height: 100vh;
    width: 70vw;
  }

  .small1 {
    background-color: pink;
    float: right;
    height: 50vh;
    width: 25vw;
    border-bottom: 5px solid white;
}

  .small2 {
    background-color: red;
    float: right;
    width: 25vw;
    height: 50vh;
    border-top: 5px solid white;

  }
}


@media only screen and (min-width: 416px) and (max-width: 800px){

  .big {
    background-color: lightblue;
    height: 50vh;
    margin-bottom: 3vh;
  }


  .small1 {
    background-color: pink;
    height: 50vh;
    float: left;
    width: 45vw;
  }

  .small2 {
    background-color: red;
    height: 50vh;
    float: right;
    width: 45vw;
  }

}*/

@media only screen and (max-width: 415px){

  .sections {
    overflow: hidden;
  }

  .sections:hover {
    cursor: pointer;
  }

  .sections:first-of-type {
    height: 50vh;
    position: relative;
    margin: 0;
  }
  .background {
    height: 100%;
  }
  .background img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

.comment {
  display: none;
}
#info-one {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.5vh;
  width: 60vw;
  height: 15vh;
  padding: 16px;
  margin-left:5vw;
  margin-right: auto;
  background-color: rgb(38,50,56);
  color: white;
}

#info-one h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 4vh;
  margin: 0;
}

.links {
  font-family: 'Roboto', sans-serif;
  color: rgba(200, 200, 200, 0.9);
  padding: 0;
  margin: 0;
  margin-top: 8px;
  font-size: 0.82em;
  font-weight: 300;
  letter-spacing: 0.42px;
}

.sections:nth-of-type(2) {
  background-color: pink;
  height: 25vh;
  margin: 0;
}

.sections:nth-of-type(3) {
  background-color: red;
  height: 25vh;
}
}
